@page "/AllUsers"
@using MudBlazor
@using CommonDll.Dto
@using System.Threading
@using System.Reflection
@using System.Globalization
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Authorization
@using PostOfficeFrontendProject__all_interactive.Mapper
@using PostOfficeFrontendProject__all_interactive.Service
@using PostOfficeFrontendProject__all_interactive.Interface
@using PostOfficeFrontendProject__all_interactive.Components.Dialogs
@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@inject NotificationService notificationService
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IDataPassHelper dataPassHelper
@inject IUsersMiddleware usersMiddleware
@inject ILoginMiddleware loginMiddleware

<AuthorizeView Roles="SuperAdmin">

    <Authorized>

        <MudItem Class="d-flex align-center justify-center mud-theme-primary  mud-elevation-25" Style=" height:60px; width:100%; margin-top:0px; margin-bottom:20px;">

            <MudText Typo="Typo.h5">All Users</MudText>

        </MudItem>

        <MudDataGrid Height="60vh" FixedHeader @ondblclick="DoubleClick" T="UserDto" Loading="isLoading" Items="@users" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" RowClick="@RowClicked" Filterable="true" QuickFilter="_quickFilterProducts" SelectOnRowClick @bind-SelectedItem="@selectedUser">

            <ToolBarContent>

                <MudText Typo="Typo.h5" Style="margin:20px"><b>User List</b></MudText>

                <MudSpacer />

                <MudTextField @bind-Value="searchString" Immediate="true" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>

            </ToolBarContent>

            <Columns>

                <PropertyColumn Property="x => x.Username" Title="Username" HeaderStyle="background:#ADD8E6;color:#333;" StickyRight="true" />

                <PropertyColumn Property="x => x.FirstName" Title="FirstName" HeaderStyle="background:#ADD8E6;color:#333;" />

                <PropertyColumn Property="x => x.LastName" Title="LastName" HeaderStyle="background:#ADD8E6;color:#333;" />

                <PropertyColumn Property="x => x.Role.RoleNameToString()" Title="Role" HeaderStyle="background:#ADD8E6;color:#333;" />

                <TemplateColumn HeaderStyle="background:#ADD8E6;color:#333;" Title="Operations">

                    <CellTemplate Context="cellContext">

                        <MudStack Row>


                            <MudSelect T="RoleDto" SelectedValuesChanged="ChangeRoles" @bind-Value="selectedRole" Label="Select a State" FitContent="true" Variant="Variant.Outlined" ToStringFunc="x => x?.Name" @onfocus="@(() => OnSelectClick(cellContext.Item))"
                                       @onchange="@((args) => OnRoleChanged(args, cellContext.Item))">

                                @foreach (var Role in changeRole)
                                {

                                    <MudSelectItem Value="@Role">@Role.Name</MudSelectItem>

                                }

                            </MudSelect>


                            <MudButton Variant="Variant.Text" Color="Color.Error" OnClick="@(() =>DeletedUser(cellContext.Item))">Delete</MudButton>



                        </MudStack>

                    </CellTemplate>

                </TemplateColumn>

            </Columns>

            <PagerContent>

                <MudDataGridPager />

            </PagerContent>

        </MudDataGrid>

        <MudPaper Elevation="0" Class="d-flex align-center justify-end " Style="margin-top:20px">

            <MudButton Class="main-button" Style="margin-right:10px" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" OnClick="GoToAddUserPage">Add</MudButton>

            <MudButton Class="main-button" Variant="Variant.Filled" Color="Color.Tertiary" Size="Size.Large" OnClick="GoToMainPage">MainPage</MudButton>

        </MudPaper>

    </Authorized>

    <NotAuthorized>

        <p style="color:red;"><b>Access Denied.</b></p>

    </NotAuthorized>

</AuthorizeView>

<style>

    .red-header {
        background-color: #87CEFA;
        color: #fff;
    }

</style>

@code {

    #region Props

    private bool isEditClick = false;

    private bool hover = true;

    private bool dense = true;

    private bool striped = true;

    private bool bordered = true;

    private bool isLoading = false;

    private bool isImport = false;

    private bool isMethodExecuted = false;

    private string searchString = "";

    private RoleDto selectedRole = new();

    private UserDto selectedUser = new();

    private List<RoleDto> changeRole = new();

    private List<UserDto> users = new List<UserDto>();

    private List<string> _events = new();

    [Parameter]

    public EventCallback OnStatusChanged { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await LoadRoles();
        await LoadUsers();

    }

    void RowClicked(DataGridRowClickEventArgs<UserDto> args)
    {
        _events.Insert(0, $"Event = RowClick, Index = {args.RowIndex}, Data = {System.Text.Json.JsonSerializer.Serialize(args.Item)}");
    }

    #endregion

    #region LoadUsers

    private async Task LoadUsers()
    {

        try
        {
            var apiResponse = await usersMiddleware.GetAllUsersAsync();

            if (apiResponse.Success && apiResponse.Data != null)
            {
                users = apiResponse.Data;
                notificationService.ShowSuccess(apiResponse.Message ?? "Load Success.");
            }
            else
            {
                var errorMsg = string.IsNullOrEmpty(apiResponse.Message)
                    ? string.Join(", ", apiResponse.Errors ?? new List<string>())
                    : apiResponse.Message;
                notificationService.ShowError(errorMsg ?? "Error To Load.");
                users = new List<UserDto>();
            }
        }
        catch (Exception ex)
        {
            notificationService.ShowError($"Unexpected Error: {ex.Message}");
            users = new List<UserDto>();
        }


        StateHasChanged();
    }

    #endregion

    #region LoadRoles

    private async Task LoadRoles()
    {
        try
        {
            var apiResponse = await loginMiddleware.GetAllRoleAsync();

            if (apiResponse.Success && apiResponse.Data != null)
            {
                changeRole = apiResponse.Data;
                notificationService.ShowSuccess(apiResponse.Message ?? "Load Success.");
            }
            else
            {
                var errorMsg = string.IsNullOrEmpty(apiResponse.Message)
                    ? string.Join(", ", apiResponse.Errors ?? new List<string>())
                    : apiResponse.Message;
                notificationService.ShowError(errorMsg ?? "Error To Load.");
                changeRole = new List<RoleDto>();
            }
        }
        catch (Exception ex)
        {
            notificationService.ShowError($"Unexpected Error: {ex.Message}");
            changeRole = new List<RoleDto>();
        }

        StateHasChanged();

    }

    #endregion

    #region Filter

    private Func<UserDto, bool> _quickFilterProducts => x =>
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        var fields = new List<string?>
                                                                    {
        x.FirstName?.ToString(),
        x.LastName.ToString(),
        x.Username.ToString(),
        x.Role?.Name.ToString(),

                                                                    };

        return fields.Any(f => !string.IsNullOrEmpty(f) &&
                               f.Contains(searchString, StringComparison.OrdinalIgnoreCase));
    };

    #endregion

    #region GoToMainPage

    private void GoToMainPage()
    {

        NavigationManager.NavigateTo("/");

    }
    #endregion

    #region DeleteItem

    private async Task DeletedUser(UserDto deletedUser)
    {

        bool? confirmed = await DialogService.ShowMessageBox(
    "Delete Confirm",
    $"Are You Sure You Want to Delete '{deletedUser.Username}' ?",
    yesText: "Yes",
    noText: "No"
    );

        if (confirmed == true)
        {
            users = users.Where(s => s != deletedUser).ToList();
        }

    }

    #endregion

    #region EditUser

    private void EditUser(int id)
    {

        dataPassHelper.SetUserId(id);

        NavigationManager.NavigateTo("/EditUser");

    }

    #endregion

    #region persian date

    private CultureInfo GetPersianCulture()
    {
        var persianCulture = new CultureInfo("fa-IR");

        persianCulture.DateTimeFormat.Calendar = new PersianCalendar();

        return persianCulture;

    }

    #endregion

    #region GoToAddUserPage

    private void GoToAddUserPage()
    {

        NavigationManager.NavigateTo("/RegisterUser");

    }

    #endregion

    #region DoubleClick

    private void DoubleClick()
    {

        if (selectedUser == null)
        {
            return;
        }

        dataPassHelper.SetUserId(selectedUser.Id);

        NavigationManager.NavigateTo("/UserInformations");

    }

    #endregion

    #region ChangeRoles

    private async Task ChangeRoles()
    {
        if (selectedRole.Name == "Postman")
        {
            var options = new DialogOptions { BackgroundClass = "my-custom-class" };

            var parameters = new DialogParameters<ChangeRoleDialog>
        {
            { x => x.UserId, selectedUser.Id }
        };

            var dialog = DialogService.Show<ChangeRoleDialog>("Warning", parameters, options);

            var result = await dialog.Result;

            if (result.Canceled)
                return;

            // دریافت کد پرسنلی
            var personalCodeFromDialog = result.Data as string;

            if (string.IsNullOrWhiteSpace(personalCodeFromDialog))
            {
                Snackbar.Add("Personal Code can't be null", Severity.Error);
                return;
            }


            var postmanDto = new PostmanUpdateAndCreateDto
                {
                    UserId = selectedUser.Id,
                    PersonalCode = personalCodeFromDialog
                };

            if (selectedRole != null)
            {
                var apiResult = await loginMiddleware.UpdateRoleAsync(selectedUser.Id, selectedRole.Id);

                if (apiResult.Success)
                {
                    Snackbar.Add("اطلاعات با موفقیت ثبت شد", Severity.Success);

                    // اینجا می‌توانی postmanDto را هم به متد ثبت یا سرور پاس بدهی
                }
            }

            await OnStatusChanged.InvokeAsync();

            StateHasChanged();

        }

        else if (selectedRole.Name == "Customer")
        {
            var options = new DialogOptions { BackgroundClass = "my-custom-class" };

            var parameters = new DialogParameters<ChangeRoleDialog>
        {
            { x => x.UserId, selectedUser.Id }
        };

            var dialog = DialogService.Show<ChangeRoleDialog>("Warning", parameters, options);

            var result = await dialog.Result;

            if (result.Canceled)
                return;

            // دریافت کد پرسنلی
            var personalCodeFromDialog = result.Data as string;

            if (string.IsNullOrWhiteSpace(personalCodeFromDialog))
            {
                Snackbar.Add("Personal Code can't be null", Severity.Error);
                return;
            }


            var customerDto = new CustomerUpdateAndCreateDto
                {
                    UserId = selectedUser.Id,
                    CustomerNumber = personalCodeFromDialog
                };

            if (selectedRole != null)
            {
                var apiResult = await loginMiddleware.UpdateRoleAsync(selectedUser.Id, selectedRole.Id);

                if (apiResult.Success)
                {
                    Snackbar.Add("اطلاعات با موفقیت ثبت شد", Severity.Success);
                }
            }

            await OnStatusChanged.InvokeAsync();

            StateHasChanged();

        }
        else
        {

            if (selectedRole != null)
            {
                var apiResult = await loginMiddleware.UpdateRoleAsync(selectedUser.Id, selectedRole.Id);

                if (apiResult.Success)
                {

                    Snackbar.Add("اطلاعات با موفقیت ثبت شد", Severity.Success);

                }
            }

            await OnStatusChanged.InvokeAsync();

            StateHasChanged();

        }

    }

    #endregion

    private void OnSelectClick(UserDto user)
    {
        selectedUser = user;
        Console.WriteLine($"Clicked select in row: {user.Id} - {user.Username}");
    }

    private void OnRoleChanged(ChangeEventArgs e, UserDto user)
    {
        selectedUser = user;
        Console.WriteLine($"Role changed for {user.Username}, new value: {e.Value}");
        // اینجا می‌تونی فراخوانی ChangeRoles رو هم انجام بدی اگر خواستی:
        // ChangeRoles(...);
    }
}


