@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor
@using MudBlazor.Utilities
@inject AuthenticationStateProvider AuthStateProvider
@inject ISnackbar Snackbar

<CascadingAuthenticationState>

    <MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />

    <MudPopoverProvider />

    <MudDialogProvider />

    <MudSnackbarProvider />

    @* <MudRTLProvider RightToLeft="@_rightToLeft"> *@

    @if (!IsHomePage && !IsLoginPage)
    {

        <MudLayout>

            <MudAppBar Elevation="1">

                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />

                <MudText Typo="Typo.h5" Class="ml-3">Post Management And Tracking</MudText>

                <MudSpacer />

                <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle" />

            </MudAppBar>

            <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">

                <NavMenu />

            </MudDrawer>

            <MudMainContent Class="mt-16 pa-4">

                @Body

            </MudMainContent>

        </MudLayout>
    }
    else
    {
        <MudLayout>

            @Body

        </MudLayout>
    }

</CascadingAuthenticationState>

@* </MudRTLProvider> *@


<div id="blazor-error-ui" data-nosnippet>

    An unhandled error has occurred.

    <a href="." class="reload">Reload</a>

    <span class="dismiss">🗙</span>

</div>

@code {

    private bool _rightToLeft = true;

    private bool _drawerOpen = false;

    private bool _isDarkMode = false;

    private MudTheme? _theme = null;

    protected override void OnInitialized()
    {
        _theme = new()

            {

                PaletteLight = _lightPalette,

                PaletteDark = _darkPalette,

                LayoutProperties = new LayoutProperties(),

                Typography = new Typography
                {
                    Default = new DefaultTypography
                    {
                        FontFamily = new[] { "Vazir", "sans-serif" },
                    },
                    H1 = new H1Typography
                    {
                        FontFamily = new[] { "Vazir", "sans-serif" },
                        FontSize = "6rem",
                        FontWeight = "300",
                        LineHeight = "1.167",
                        LetterSpacing = "-.01562em"
                    },
                    H2 = new H2Typography
                    {
                        FontFamily = new[] { "Vazir", "sans-serif" },
                        FontSize = "3.75rem",
                        FontWeight = "300",
                        LineHeight = "1.2",
                        LetterSpacing = "-.00833em"
                    },
                    H3 = new H3Typography
                    {
                        FontFamily = new[] { "Vazir", "sans-serif" },
                        FontSize = "3rem",
                        FontWeight = "400",
                        LineHeight = "1.167",
                        LetterSpacing = "0em"
                    },
                    H4 = new H4Typography
                    {
                        FontFamily = new[] { "Vazir", "sans-serif" },
                        FontSize = "2.125rem",
                        FontWeight = "400",
                        LineHeight = "1.235",
                        LetterSpacing = ".00735em"
                    },
                    H5 = new H5Typography
                    {
                        FontFamily = new[] { "Vazir", "sans-serif" },
                        FontSize = "1.5rem",
                        FontWeight = "400",
                        LineHeight = "1.334",
                        LetterSpacing = "0em"
                    },
                    H6 = new H6Typography
                    {
                        FontFamily = new[] { "Vazir", "sans-serif" },
                        FontSize = "1.25rem",
                        FontWeight = "500",
                        LineHeight = "1.6",
                        LetterSpacing = ".0075em"
                    },
                    Subtitle1 = new Subtitle1Typography
                    {
                        FontFamily = new[] { "Vazir", "sans-serif" },
                        FontSize = "1rem",
                        FontWeight = "400",
                        LineHeight = "1.75",
                        LetterSpacing = ".00938em"
                    },
                    Subtitle2 = new Subtitle2Typography
                    {
                        FontFamily = new[] { "Vazir", "sans-serif" },
                        FontSize = "0.875rem",
                        FontWeight = "500",
                        LineHeight = "1.57",
                        LetterSpacing = ".00714em"
                    },
                    Body1 = new Body1Typography
                    {
                        FontFamily = new[] { "Vazir", "sans-serif" },
                        FontSize = "1rem",
                        FontWeight = "400",
                        LineHeight = "1.5",
                        LetterSpacing = ".00938em"
                    },
                    Body2 = new Body2Typography
                    {
                        FontFamily = new[] { "Vazir", "sans-serif" },
                        FontSize = "0.875rem",
                        FontWeight = "400",
                        LineHeight = "1.43",
                        LetterSpacing = ".01071em"
                    },
                    Button = new ButtonTypography
                    {
                        FontFamily = new[] { "Vazir", "sans-serif" },
                        FontSize = "0.875rem",
                        FontWeight = "500",
                        LineHeight = "1.75",
                        LetterSpacing = ".02857em",
                        TextTransform = "uppercase"
                    },
                    Caption = new CaptionTypography
                    {
                        FontFamily = new[] { "Vazir", "sans-serif" },
                        FontSize = "0.75rem",
                        FontWeight = "400",
                        LineHeight = "1.66",
                        LetterSpacing = ".03333em"
                    },
                    Overline = new OverlineTypography
                    {
                        FontFamily = new[] { "Vazir", "sans-serif" },
                        FontSize = "0.75rem",
                        FontWeight = "400",
                        LineHeight = "2.66",
                        LetterSpacing = ".08333em",
                        TextTransform = "uppercase"
                    }
                }
            };

    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private void DarkModeToggle()
    {
        _isDarkMode = !_isDarkMode;
    }

    private readonly PaletteLight _lightPalette = new()
        {
            Black = "#110e2d",
            AppbarText = "#424242",
            AppbarBackground = "rgba(255,255,255,0.8)",
            DrawerBackground = "#ffffff",
            GrayLight = "#e8e8e8",
            GrayLighter = "#f9f9f9",
        };

    private readonly PaletteDark _darkPalette = new()
        {
            Primary = "#7e6fff",
            Surface = "#1e1e2d",
            Background = "#1a1a27",
            BackgroundGray = "#151521",
            AppbarText = "#92929f",
            AppbarBackground = "rgba(26,26,39,0.8)",
            DrawerBackground = "#1a1a27",
            ActionDefault = "#74718e",
            ActionDisabled = "#9999994d",
            ActionDisabledBackground = "#605f6d4d",
            TextPrimary = "#b2b0bf",
            TextSecondary = "#92929f",
            TextDisabled = "#ffffff33",
            DrawerIcon = "#92929f",
            DrawerText = "#92929f",
            GrayLight = "#2a2833",
            GrayLighter = "#1e1e2d",
            Info = "#4a86ff",
            Success = "#3dcb6c",
            Warning = "#ffb545",
            Error = "#ff3f5f",
            LinesDefault = "#33323e",
            TableLines = "#33323e",
            Divider = "#292838",
            OverlayLight = "#1e1e2d80",
        };

    public string DarkLightModeButtonIcon => _isDarkMode switch
    {
        true => Icons.Material.Rounded.AutoMode,
        false => Icons.Material.Outlined.DarkMode,
    };

    private bool IsHomePage =>
        NavigationManager.Uri.TrimEnd('/') == NavigationManager.BaseUri.TrimEnd('/');

    private bool IsLoginPage =>
    NavigationManager.Uri.ToLower().Contains("/login");

    private bool _checkedAuth = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // اگه قبلاً چک کردیم، دیگه هیچی
        if (_checkedAuth)
            return;

        _checkedAuth = true; // فقط یک‌بار اجازه چک کردن بده

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var currentUrl = NavigationManager.Uri.ToLower();

        bool isAuthenticated = user.Identity?.IsAuthenticated ?? false;
        bool isLoginPage = currentUrl.Contains("/login");

        if (!isAuthenticated && !isLoginPage)
        {
            Snackbar.Add("برای دسترسی به این صفحه باید وارد شوید.", Severity.Warning);
            NavigationManager.NavigateTo("/login", forceLoad: false);
        }
    }

}


